@import url(./variable.css);
@import url(./reset.css);


header, nav {
    background: var(--rich-black-fogra-29);
}

.navbar, .banner, .movies, .category, .live {
    padding: 0 var(--px);
}

.section-heading {
    font-size: var(--section-heading);
    font-weight: var(--fw-5);
}

/** MAIN  */

.container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu-btn {
    display: none;
}

nav {
    margin-right: 200px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav li:not(:last-child) {
    margin-right: 60px;
}

.navbar-link {
    font-size: var(--fs-sm);
    font-weight: var(--fm-5);
}

.navbar-link:hover {
    color: var(--light-azure);
    cursor: pointer;
}

.indicator {
    position: relative;
}

.indicator::after {
    content: '';
    background: var(--live-indicator);
    position: absolute;
    top: calc(50% - 1px);
    right: -15px;
    width: 4px;
    height: 4px;
    box-shadow: 0 0 0 2px var(--live-indicator-shadow);
    border-radius: 5px;
}

.navbar-actions {
    display: flex;
    align-items: 50px;
}

.navbar-form {
    position: relative;
    margin-right: 50px;
}

.navbar-form-search {
    background: var(--oxford-blue);
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: var(--off-white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.navbar-form-btn {
    background: var(--oxford-blue);
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.navbar-form-btn ion-icon, .navbar-search-btn ion-icon {
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon, .navbar-form-search::placeholder {
    color: var(--off-white);
}

.navbar-form-close, .navbar-search-btn {
    display: none;
}

.navbar-signin {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
}

.navbar-signin ion-icon {
    font-size: 22px;
    color: var(--light-azure);
    margin-left: 5px;
    --ionicon-stroke-width: 30px;
}

.navbar-signin:hover span{
    color: var(--light-azure);
}

.banner {
    margin-bottom: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 100%    ; /* Adjust the space between banner cards as needed */
    justify-content: center; /* Align banner cards in the center horizontally */
    flex-wrap: wrap;
}

.banner .banner-slider {
    display: flex;
    transition: transform 0.5s ease;
    overflow: visible;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

#prevBtn {
    left: 130px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    scale: 2;
}

#nextBtn {
    right: 130px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    scale: 2;
}

.banner:hover #prevBtn, .banner:hover #nextBtn {
    opacity: 0.7;
}

#prevBtn:hover, #nextBtn:hover {
    color: var(--light-azure);
    transition: opacity 0.3s ease-in-out
}

.banner-card {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
}

.banner-card.active {
    opacity: 1; /* Show active slide */
}

.banner-img {
    object-position: top;
}

.banner-card:hover .banner-img {
    transform: scale(1.1);
}

.banner-card .card-content {
    position: absolute;
    color: var(--off-white);
    right: 80px;
    bottom: 60px;
    left: 80px;
}

.banner-card .card-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.banner-card .card-info div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.banner-card .card-info ion-icon {
    font-size: 20px;
    color: var(--azure);
    margin-right: 4px;
}

.banner-card .card-info span {
    font-weight: var(--fw-6);
}

.banner-card .card-info .quality {
    background: var(--azure);
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: var(--fw-7);
}

.banner-card .card-title {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    color: var(--white);
    text-shadow: 2px 0 2px #0007;
}

.movies {
    margin-bottom: 60px;
}

.genre .year {
    color: var(--white);
}

.filter-bar {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.filter-bar select {
    color: var(--white);
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
}

.filter-bar option {
    background: var(--oxford-blue);
}

.filter-radios {
    position: relative;
    background: var(--rich-black-fogra-29);
    padding: 10px;
    border-radius: 15px;
    display: flex;
}

.filter-radios input {
    display: none;
}

.filter-radios label {
    position: relative;
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.filter-radios input:checked + label, .filter-radios label:hover {
    color: var(--light-azure);
}

input ~ .checked-radio-bg {
    --width: 85px;
    --left: 5px;

    background: var(--oxford-blue);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}

#popular:checked ~ .checked-radio-bg {
    --width: 73px;
    --left: 90px
}

#newest:checked ~ .checked-radio-bg {
    --width: 81px;
    --left: 163px;
}

.filter-reset {
    background: var(--rich-black-fogra-29);
    color: var(--light-azure);
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: var(--fs-sm);
    cursor: pointer;
    user-select: none;
    margin-left: auto; /* Adjust as needed */
    margin-right: auto;
    transition: color 0.3s, background 0.3s;
}

.filter-reset:hover,
.filter-reset:focus {
    color: var(--oxford-blue);
    background: var(--light-azure);
}

.movies-grid {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.movie-card {
    --scale: 0.8;
    cursor: pointer;
}

#movieContainer.show-all .movie-card {
    display: block;
}

.movie-card .card-head {
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.movie-card:hover .card-img {
    transform: scale(1.1);
}

.movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay {
    opacity: 1;
}

.movie-card .bookmark, .movie-card .rating {
    color: var(--white);
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--light-azure);
    transform: scale(var(--scale));
}

.movie-card .bookmark {
    background: var(--oxford-blue);
    left: 15px;
}

.movie-card .bookmark {
    background: var(--yellow);
}

.movie-card .rating {
    display: flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
}

.movie-card .rating span {
    color: var(--white);
    font-size: 13px;
    font-weight: var(--fw-5);
    margin-left: 5px;
}

.movie-card ion-icon {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
}

.movie-card .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
}

.movie-card:hover :is(.bookmark, .rating, .play) {
    --scale: 1;
}

.movie-card, .card-title {
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    margin-bottom: 5px;
}

.movie-card:hover .card-title {
    color: var(--light-azure);
}

.movie-card .card-info {
    display: flex;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
}

.movie-card .genre {
    margin-right: 8px;
}

.load-more {
    background: var(--oxford-blue);
    display: block;
    padding: 20px 50px;
    margin: auto;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
    border-radius: 15px;
    color: var(--white);
}

.load-more:hover {
    background: var(--light-azure);
}

.category {
    color: var(--white);
    margin-bottom: 60px;
}

.category .section-heading {
    margin-bottom: 40px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.category-card {
    position: relative;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.category-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(100deg, transparent 20%, #000a);
}

.category-card:hover .card-img {
    transform: scale(1.1);
}

.category-card .name, .category-card .total {
    position: absolute;
    bottom: 20px;
    color: var(--white);
    z-index: 20;
}

.category-card .name {
    left: 20px;
    font-size: 20px;
}

.category-card .total {
    right: 20px;
    font-size: 18px;
    background: var(--oxford-blue-50);
    padding: 5px 8px;
    border-radius: 8px;
}

.category-card:hover .name {
    color: var(--light-azure);
    background: var(--white);
    padding: 5px 8px;
    border-radius: 10px;
}

.live {
    margin-bottom: 60px;
}

.live .section-heading {
    color: var(--white);
    margin-bottom: 40px;
}

.live-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.live-card {
    cursor: pointer;
}

.live-card .card-head {
    position: relative;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
}

.live-card .card-head::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(100deg, transparent 20%, #000a);
}

.live-card:hover .card-img {
    transform: scale(1.1);
}

.live-card .live-badge, .live-card .total-viewers {
    position: absolute;
    left: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: inherit;
}

.live-card .live-badge {
    color: var(--white);
    top: 20px;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
    background: var(--live-indicator);
}

.live-card .total-viewers {
    color: var(--white);
    bottom: 20px;
    font-size: 15px;
    font-weight: var(--fw-6);
    background: var(--oxford-blue-50);
}

.live-card .play {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    z-index: 10;
}

.live-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
}

.live-card:hover .play {
    color: var(--white);
    opacity: 90%;
    transform: translate(-50%, -50%) scale(1);
}

.live-card .card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.live-card .avatar {
    width: 40px;
    border-radius: 10px;
    margin-right: 15px;
}

.live-card .card-title {
    color: var(--white);
    font-size: var(--fs-lg);
    font-weight: var(--fw-5);
}

.live-card:hover .card-title {
    color: var(--light-azure);
}

footer {
    background: var(--rich-black-fogra-30);
    padding: 80px var(--px) 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px;
}

.footer-brand {
    max-width: 250px;
    margin-right: 130px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 30px;
}

.slogan {
    color: var(--white);
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a {
    display: inline-block;
}

.social-link ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: flex-end;
}

.link-heading {
    color: var(--white);
    margin-bottom: 20px;
}

.link-items {
    font-size: var(--fs-sm);
}

ul .link-item:not(:last-child) {
    margin-bottom: 10px;
}

.link-items:hover a {
    color: var(--light-azure);
}

.footer-copyright {
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.footer-copyright p, .wrapper a {
    font-size: var(--fs-sm);
}

.wrapper a:hover {
    color: var(--light-azure);
}

.wrapper {
    display: flex;
}

.wrapper a:not(:last-child) {
    margin-right: 30px;
}

/* Player */
.player-container, .container-live {
    max-width: 1440px;;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
}

.synopsis {
    color: var(--white);
    max-width: 300px;
    max-height: 600px;
    margin: 55px;
    padding: 10px;
    border: 1px solid var(--oxford-blue);
    border-radius: 5px;
    background-color: var(--rich-black-fogra-29);
    overflow: hidden;
    box-shadow: var(--azure);
}

.film-player {
    max-width: 1000px;
    margin: 50px auto;
    border: 2px solid var(--oxford-blue-50);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

#videoPlayer {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid var(--oxford-blue-50);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.film-player #movieTitle {
    text-align: center; 
    font-size: 24px; 
    color: var(--white); 
    margin: 10px 0; 
    padding: 5px; 
    background-color: var(--rich-black-fogra-29); 
}

.film-player .live-indicator {
    text-align: center; 
    font-size: 12px; 
    color: var(--white); 
    margin: 10px 0; 
    background-color: var(--live-indicator); 
    display: block;
    z-index: inherit; 
}

.text-container {
    max-width: 1000px;
    max-height: 600px;
    margin: 55px;
    padding: 10px;
    border: 1px solid var(--light-azure);
    border-radius: 5px;
    background-color: var(--rich-black-fogra-29);
    overflow: hidden;
    box-shadow: var(--azure);
}

.text-container h3 {
    text-align: center;
}

.live-comments {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 450px;
    padding: 10px;
    border-color: var(--dark-azure);
    border-radius: 5px;
    background-color: var(--rich-black-fogra-29);
    overflow: hidden;
    box-shadow: var(--azure);
}

.comments-container {
    animation: scrollComments 20s linear infinite;
}

.comment{
    margin-bottom: 10px;
    padding: 5px;
    background-color:var(--rich-black-fogra-29);
    border: 1px solid var(--dark-azure);
    border-radius: 3px;
}

.comment-input {
    color: var(--white);
    align-items: center;
    margin-right: 100px;
    padding: 10px;
}

.user {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 5px;
}

.message {
    color: var(--white);
}

@keyframes scrollComments {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-80%);
    }
}


/*Anime Titles*/
.anime-list {
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
}

.anime-title {
    text-align: center;
    max-width: 1440px;
    background-color: var(--rich-black-fogra-30);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--azure);
    font-size: var(--fs-lg);
    font-weight: var(--fm-6);
    color: var(--white);
    line-height: 2;
}

/* Manga List */

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.manga-cover {
    max-width: 400px;
    margin: 50px auto;
    border: 2px solid var(--oxford-blue-50);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

.manga-list {
    width: 45%;
    border: 2px solid var(--oxford-blue-50);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.manga-list h2, .manga-cover h2 {
    background-color: var(--rich-black-fogra-29);
    color: var(--light-azure);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.manga-list ul {
    list-style: none;
    padding: 0;
}

.manga-list li {
    padding: 5px;
}

.manga-list a {
    text-decoration: none;
    color: var(--light-azure);
    display: block;
    padding: 5px;
}

.manga-list a:hover {
    background-color: var(--oxford-blue-50);
}


/* Manga */
.manga-reader {
    max-width: 800px;
    margin: 50px auto;
    border: 2px solid var(--oxford-blue-50);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.manga-page img {
    width: 100%;
    height: auto;
    display: block;
}

.manga-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--rich-black-fogra-29);
}

.manga-controls button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: var(--light-azure);
    background-color: var(--oxford-blue);
    cursor: pointer;
    transition: background-color 0.3s;
}

.manga-controls button:hover {
    background-color: var(--oxford-blue-50);
}
